/* 
====== 
Fonts
======
*/

@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400|Kaushan+Script&display=swap");

/* 
====== 
Global Styles 
======
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Catamaran", sans-serif;
    color: #222;
    background: #ececec;
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Catamaran", sans-serif;
    margin-bottom: 1.25rem;
    letter-spacing: 0.3rem;
}

p {
    margin-bottom: 1.25rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #222;
}

img {
    width: 100%;
    display: block;
}

.loading {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 3rem;
    letter-spacing: 0.3rem;
}

.loading img {
    width: 10rem;
    margin: 0 auto;
}


/* 
====== 
Buttons 
======
*/

.btn,
.btn-white,
.btn-primary {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #f15025;
    border: 2px solid #f15025;
    padding: 0.45rem 0.8rem;
    display: inline-block;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 0.8rem;
    background: transparent;
}

.btn:hover {
    background: #f15025;
    color: #fff;
}

.btn-white {
    background: transparent;
    color: #fff;
    border-color: #fff;
}

.btn-white:hover {
    background: #fff;
    color: #f15025;
}

.btn-primary {
    background: #f15025;
    color: #fff;
    border-color: #f15025;
}

.btn-primary:hover {
    background: transparent;
    color: #f15025;
}

.btn-block {
    width: 100%;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
}


/* 
====== 
Header
======
*/

.header {
    padding: 2rem 0;
}

.logo {
    margin: 0 auto;
    width: 9rem;
    color: #f15025;
    font-weight: 800;
    font-size: 42px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 40rem;
}

.header ul div {
    display: flex;
    align-items: center;
}

.header a {
    text-transform: capitalize;
    margin: 0 0.25rem;
    font-size: 0.85rem;
    letter-spacing: 2px;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_icon {
    margin-right: 3px;
}

.header a:hover {
    color: #f15025;
}

@media screen and (min-width: 768px) {
    .header a {
        font-size: 1.5rem;
        margin: 0 0.5rem;
    }
}


/* 
====== 
Hero
======
*/

.hero {
    min-height: calc(65vh);
    background: linear-gradient( rgba(0, 0, 0, 0.7) 50%, rgba(255, 255, 255, 0.1)), url("./assets/mainBcg.jpeg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c02c03;
}

.banner {
    width: 85vw;
    max-width: 1170vw;
}

.hero h1 {
    font-size: 3rem;
    text-transform: capitalize;
}

.hero p {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 1.75rem;
}

.btn-hero {
    border-radius: 0;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    background: #c02c03;
    border-color: #c02c03;
    color: #222;
}

.btn-hero:hover {
    color: #c02c03;
}

@media screen and (min-width: 768px) {
    .banner {
        margin-top: 0;
    }
    .hero h1 {
        font-size: 5.3rem;
    }
    .hero p {
        font-size: 2.3rem;
    }
    .btn-hero {
        font-size: 1.2rem;
        padding: 1rem 3rem;
    }
}


/* 
====== 
About
======
*/

.about-section {
    width: 85vw;
    max-width: 40rem;
    margin: 0 auto;
}

.about-section p {
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
}


/* 
====== 
Error
======
*/

.error-page {
    display: flex;
    justify-content: center;
}

.error-container {
    text-align: center;
    text-transform: capitalize;
}


/* 
====== 
Product List
======
*/

.section {
    padding: 4rem 0;
}

.section-title,
.search-errors {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    text-align: center;
    margin-bottom: 3.5rem;
}

.products-center {
    width: 85vw;
    margin: 0 auto;
    max-width: 1170vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 1.8rem;
    row-gap: 1.8rem;
    /* align-items: start; */
}

.product {
    background: #fff;
    margin-bottom: 2rem;
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 19.69rem;
}

.product:hover {
    box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.img-container {
    padding: 3rem;
    background: rgba(250, 239, 239, 0.5);
    position: relative;
    /* height: 5rem; */
}

.product img {
    transition: all 0.3s linear;
    min-height: 9rem;
}

.product:hover img {
    opacity: 0.3;
}

.product-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s linear;
}

.product:hover .product-link {
    opacity: 1;
}

.product-footer {
    padding: 0rem 1rem 1rem 1rem;
    text-align: center;
    letter-spacing: 0.3rem;
    display: grid;
    grid-template-rows: 1fr auto;
}

.product-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.product-price {
    color: #f15025;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.1rem;
}


/* 
====== 
Single Product
======
*/

.single-product {
    width: 85vw;
    max-width: 1170vw;
    margin: 4rem auto;
}

.single-product article {
    margin-bottom: 3rem;
}

.single-product-image {
    max-width: 25rem;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.single-product h1 {
    text-transform: capitalize;
    font-size: 2.3rem;
    letter-spacing: 0.3rem;
}

.single-product h2 {
    color: #f15025;
}

.single-product p {
    line-height: 2;
    letter-spacing: 1px;
}

@media screen and (min-width: 992px) {
    .single-product {
        display: grid;
        grid-template-columns: 2fr 3fr;
        column-gap: 3rem;
    }
}


/* 
====== 
Cart
======
*/

.empty-cart {
    text-align: center;
    text-transform: capitalize;
}

.cart-items {
    width: 85vw;
    margin: 0 auto;
    max-width: 40rem;
}

.cart-items h2 {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: capitalize;
}

.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    width: 5rem;
}

.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    margin-bottom: 0;
}

.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: 0.3rem;
}

.item-amount {
    text-align: center;
    margin-bottom: 0;
}

.cart-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.remove-btn {
    color: #afafaf;
    letter-spacing: 0.3rem;
    cursor: pointer;
    font-size: 0.8rem;
}

.amount-btn {
    color: #f15025;
    font-size: 1rem;
}


/* 
====== 
Cart Link
======
*/

.cart-link-container {
    position: relative;
}

.cart-link-container a {
    margin-right: 10px;
    font-weight: bolder;
}

.cart-link-total {
    display: block;
    position: absolute;
    background: #f15025;
    top: -10px;
    right: -10px;
    padding: 0rem 0.4rem;
    border-radius: 50%;
    font-size: 1rem;
    color: #eee;
}